fastapi==0.95.2
uvicorn==0.22.0
python-dotenv==1.0.0
PyJWT==2.8.0
pdf2docx==0.5.6
pydantic==1.10.9
firebase-admin==6.1.0
python-multipart==0.0.12
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-google-genai==0.0.9
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.22
language_data==1.2.0